/* ======================================= */
/* ========|| Custom Properties ||======== */
/* ======================================= */
:root {
  --clr-primary: hsl(25, 97%, 53%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(217, 12%, 63%);
  --clr-neutral-600: hsl(213, 19%, 18%);
  --clr-neutral-900: hsl(216, 12%, 8%);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --ff-base: "Overpass", sans-serif;

  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-350: 28px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 60px;
  --spacing-800: 100px;
  --spacing-900: 160px;
  --spacing-1000: 240px;

  /* Desktop */
  --fs-desktop-smallest: 0.75rem; /* 12px */
  --fs-desktop-detail: 0.875rem; /* 14px */
  --fs-desktop-regular: 1.125rem; /* 16px/18px */
  --fs-desktop-subtitle-small: ; /* 20px */
  --fs-desktop-subtitle-regular: 2.5rem; /* 40px */
  --fs-desktop-subtitle-large: ; /* 22px */
  --fs-desktop-main-small: 2rem; /* 32px */
  --fs-desktop-main-regular: 2.375rem; /* 38px */
  --fs-desktop-main-large: 2.625rem; /* 42px */
  --fs-desktop-display-small: 3.75rem; /* 60px */
  --fs-desktop-display-regular: 4.5rem; /* 72px */
  --fs-desktop-display-large: 5rem; /* 80px */

  /* Mobile */
  --fs-mobile-xsmall: 0.75rem; /* 12px */
  --fs-mobile-small: 0.875rem; /* 14px */
  --fs-mobile-regular: 1rem; /* 16px */
  --fs-mobile-subtitle-small: 1.25rem; /* 18px */
  --fs-mobile-subtitle-regular: 1.375rem; /* 22px */
  --fs-mobile-subtitle-large: 1.5rem; /* 24px */
  --fs-mobile-main-title-small: 1.5rem; /* 24px */
  --fs-mobile-main-title-regular: 2rem; /* 32px */
  --fs-mobile-main-title-large: 2.375rem; /* 38px */
  --fs-mobile-display-small: 3rem; /* 48px */
  --fs-mobile-display-regular: 3.75rem; /* 80px */
  --fs-mobile-display-large: 4.5rem; /* 72px */

  --fs-body: clamp(
    var(--fs-mobile-regular),
    0.9565rem + 0.2174vw,
    var(--fs-desktop-regular)
  );
  --fs-title: clamp(
    var(--fs-mobile-main-title-small),
    1.1087rem + 1.9565vw,
    var(--fs-desktop-main-large)
  );
  --fs-sub-title: clamp(
    var(--fs-mobile-subtitle-regular),
    0.8152rem + 2.1739vw,
    var(--fs-desktop-subtitle-regular)
  );
  --fs-smallest: ;
  --fs-button: ;
}

/* ======================================= */
/* ===============|| Reset ||============= */
/* ======================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  /* max-width: 75ch; */
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ======================================= */
/* ========|| General Styling ||========== */
/* ======================================= */
body {
  font-family: var(--ff-base);
  font-size: 0.9375rem;
  display: grid;
  place-content: center;
  background-color: var(--clr-neutral-900);
}

/* ======================================= */
/* ==========|| Header Style ||=========== */
/* ======================================= */

/* ======================================= */
/* ===========|| Main Style ||============ */
/* ======================================= */
.rating {
  background-color: var(--clr-neutral-600);
  max-width: 25em;
  border-radius: 1em;
  padding: var(--spacing-200);
  display: grid;
}
.rating_title {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-medium);
}
.rating_description {
  color: var(--clr-neutral-300);
}
.rating_submit {
  padding-block: .5em;
  border-radius: 100vmax;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
  letter-spacing: 1px;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.rating_items {
  display: flex;
  justify-content: space-between;
}
.rating_item {
  list-style: none;
  background-color: var(--clr-neutral-900);
  width: 3em;
  aspect-ratio: 1 / 1;
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-300);

}
/* =============|| Buttons ||============= */

/* =============|| Inputs ||============= */

/* ======================================= */
/* ==========|| footer Style ||=========== */
/* ======================================= */

/* ======================================= */
/* ============|| Utilities ||============ */
/* ======================================= */

/* ======================================= */
/* ===========|| Breakpoints ||=========== */
/* ======================================= */

/* button shadow  left-right/ down-up/ blur/ spread */
/* box-shadow: inset 0px -2px 0px 1px rgba(0,0,0,0.4); */
